.Contador input{
    font-size: 1.4rem;
    width: 60px;
}
.Contador button{
    margin: 15px;
    font-size: 1.4rem;
    height: 50px;
    width: 50px;
    background-color: #656fff;
    color: antiquewhite;

    border-radius: 50%;
}